<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343830747505-kisvpid0vdqi27qlr876jutgcbq5sd0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343830747505-kisvpid0vdqi27qlr876jutgcbq5sd0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCkl6oIUKVEHkMZTiY3N-IXDzdPWxL6ONc</string>
	<key>GCM_SENDER_ID</key>
	<string>343830747505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.SJSU.CMPE137.SpartanDrive.Group5</string>
	<key>PROJECT_ID</key>
	<string>spartandrive-fc363</string>
	<key>STORAGE_BUCKET</key>
	<string>spartandrive-fc363.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343830747505:ios:c371d3118c8cad8926fed0</string>
	<key>DATABASE_URL</key>
	<string>https://spartandrive-fc363.firebaseio.com</string>
</dict>
</plist>